#button{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 1200px;
    min-height: 100px;
    margin: 10px auto;
    user-select: none;

    &-info{
        border: 5px solid $chickenColor;
        min-width: 600px;
        max-width: 600px;
        min-height: 50px;
        margin: 0 auto;
        transform: translateX(100px);
        background: rgba(35, 109, 35, 0.603);

        &-text{
            color: white;
            text-align: center;
            font-weight: 700;
        }
    }
    &-startGame{
        border: 5px solid green;
        min-width: 200px;
        max-width: 200px;
        min-height: 45px;
        max-height: 45px;
        margin: 3px auto;
        transform: translateX(100px);
        border-radius: 20px;

        &-text{
            color:white;
            text-align: center;
            transform: translateY(-10px);
            font-size: 18px;
            font-weight: 700;

            &:hover{
                cursor: pointer;
            }
        }
    }
}