#button-startGame{
    border: 5px solid $chickenColor;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    transform: translateY(500px);
    font-size: 20px;
    border-radius: 15px;
    &:hover{
        cursor: pointer;
    }
    @include laptop{
        transform: translateY(300px);
    }
}
#button-reset{
    border: 5px solid green;
    border-radius: 15px;
    background: $chickenBoxColor;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 180px;
    padding: 20px;
    transform: translateY(50px);
    margin: 0 auto;
    &:hover{
        cursor: pointer;
    }
    @include laptop{
        transform: translateY(20px);
    }
}