.container{
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    max-width: 1200px;
    z-index: 9999;
    margin: 0 auto;
    min-height: 85vh;
    border: 2px solid black;
    box-sizing: border-box;
}