.container{
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    width: 1200px;
    z-index: 9999;
    margin: 0 auto;
    min-height: 85vh;
    user-select: none;
    @include laptop{
        height: 600px;
    }
}
