#display-main{
  border: 5px solid $chickenColor;
  min-width: 990px;
  min-height: 85vh;
  margin-left: 5px;
  position: relative;
  background: $mainWhite;
  overflow: auto;

  #chicken-1, #chicken-2,#chicken-3{
    display: none;
    position: absolute;
  }

  &:hover{
    cursor: url('/img/crosshair/crosshair.png'), auto;
  }
  &-indikator{
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-size: 50px;
    transform: translateY(350px);

    &-counter{
      max-width: 500px;
      margin:0 auto;
      text-align: center;
      font-weight: 700;
      font-size: 150px;
      transform: translateY(300px)
    }
  }
  &-info{
    border: 10px solid $chickenColor;
    min-width: 700px;
    max-width: 700px;
    min-height: 300px;
    max-height: 500px;
    margin: 0 auto;
    transform: translateY(250px);
    background:$mainWhite;
    display: none;

    &-chicken{
      position: absolute;
      top:10px;
    }
    &-text{
      text-align: center;
      color: $chickenColor;
      font-size: 40px;
      font-weight: 700;
      transform: translateY(10px);
    }

    &-picture{
      min-width: 400px;
      max-width: 400px;
      max-height: 200px;
      margin: 10px auto;
      img{
        height: 140px;
        transform: translateX(130px);
      }
    }
  }
}