#display-main{
  border: 5px solid $chickenColor;
  min-width: 990px;
  height: 100vh;
  margin-left: 5px;
  position: relative;
  background: $mainWhite;
  overflow: hidden;
  user-select: none;
  


  #chicken-1, #chicken-2,#chicken-3,#chicken-4,#chicken-5,#chicken-6{
    display: none;
    position: absolute;
    z-index: 2;
    user-select: none; 
    user-drag:none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
  }
  #blood{
    position: absolute;
    z-index: 1;
    display: none;
    user-select: none;
    user-drag:none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
  }
  
  &:hover{
    cursor: url('../../img/crosshair/corsshair-small.png'), auto;
  }
  &-reload{
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 40%;
    left: 40%;
    display: none;
  }

  &-ammo{
    display: none;
    position: absolute;
    border: 5px solid $chickenColor;
    text-align: center;
    font-size: 50px;
    transform: translate(5px,5px);
    color: $chickenColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    img{
      height: 100px;
    }
    &-can{
      display: none;
      justify-content: flex-end;
      position: absolute;
      border: 5px solid green;
      text-align: center;
      font-weight: 700;
      top: 82%;
      transform: translateX(870px);
      @include laptop{
      top: 74%;
      }
      img{
        -moz-user-select: none;
        -webkit-user-drag: none;
        height: 100px;
      }
    }
  }

  &-indikator{
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-size: 50px;
    transform: translateY(350px);
    @include laptop{
      transform: translateY(200px);
    }
    

    &-counter{
      max-width: 500px;
      margin:0 auto;
      text-align: center;
      font-weight: 700;
      font-size: 150px;
      transform: translateY(350px);
      @include laptop{
        transform: translateY(240px);
      }
      
    }
  }
  &-info{
    border: 10px solid $chickenColor;
    min-width: 700px;
    max-width: 700px;
    min-height: 300px;
    max-height: 500px;
    margin: 0 auto;
    transform: translateY(300px);
    background:$mainWhite;
    display: none;
    @include laptop{
      transform: translateY(50%);
    }
   

    &-chicken{
      position: absolute;
      top:10px;
    }
    &-text{
      text-align: center;
      color: $chickenColor;
      font-size: 40px;
      font-weight: 700;
      transform: translateY(10px);
    }

    &-picture{
      min-width: 400px;
      max-width: 400px;
      max-height: 200px;
      margin: 10px auto;
      img{
        height: 140px;
        transform: translateX(130px);
      }
    }
  }
}